body {
    font-family: 'Dosis';
}

.top-container {
    display: inline-flex;
    flex-direction: row;
}

.split {
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 50%;
    padding-top: 20px;
}

.left {
    background-color: #ffffff;
}

.right {
    background-color: #3b4c9b;
}

.centered {
    text-align: center;
}

.email-picture {
    max-width: 70%;
    max-height: 70%;
    background-position: center;
}

.mail {
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    background: #D8F1F8;
    border: 1px soild silver;
    border-radius: 10px;
    text-align: center;
}

#textEmail {
    border-radius: 5px;
}

#btn {
    margin-top: 10px;
}

p {
    text-align: center;
    color: red;
    font-size: 20px;
}

input {
    font-size: 20pt;
}

input:focus,
textarea:focus {
    background-color: rgb(255, 255, 238);
}

input submit {
    font-size: 12pt;
}